<h1>LOGIN</h1>
<h2>Aplicativo To-Do <small style="font-size: 0.6em;">by Diego Espindola</small></h2>

<div class="container mt-4">
  <form>
    <div class="form-group mb-3">
      <label for="username">Usuário</label>
      <input type="text" class="form-control" id="username" placeholder="Digite seu nome de usuário">
    </div>

    <div class="form-group mb-3">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
    </div>

    <!--  TODO caso tenha tempo, verificar como fazer um  'lembrar usuario'
    <div class="form-group form-check mb-3">
      <input type="checkbox" class="form-check-input" id="remember">
      <label class="form-check-label" for="remember">Lembrar de mim</label>
    </div>
     -->
    
    <button type="submit" class="btn btn-success w-100 mt-3">Entrar</button>

    <p class="login-info">
        Ainda não possui login? Solicite ao administrador do sistema a criação de um usuário.<br><br>
        <strong>Para fins de teste, utilize:</strong><br>
        <code>Usuário:</code> <code>admin</code><br>
        <code>Senha:</code> <code>admin123</code>
    </p> 
 </form>
</div>
